<nav th:fragment="navbar(active)">
    <div class="nav">
        <div class="brand">Pay My Buddy</div>

        <div class="links">
            <a th:href="@{/transfer}" th:classappend="${active}=='transfer' ? 'active' : ''">Transfer</a>
            <a th:href="@{/profile}" th:classappend="${active}=='profile' ? 'active' : ''">Profil</a>
            <a th:href="@{/connections}" th:classappend="${active}=='relation' ? 'active' : ''">Ajouter relation</a>

            <form th:action="@{/logout}" method="post" class="logout">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button type="submit" class="linklike">Se déconnecter</button>
            </form>
        </div>
    </div>
</nav>