<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pay My Buddy - Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="login-page">
    <div class="login-card">
        <div class="login-content">

            <div class="brand-badge">Pay My Buddy</div>

            <form class="login-form" method="post" action="/login">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input class="login-input" type="text" name="username" placeholder="Mail">
                <input class="login-input" type="password" name="password" placeholder="Mot de passe">
                <button class="login-btn" type="submit">Se connecter</button>
            </form>
            <div class="login-register">
                <p>Pas encore de compte ?</p>
                <a th:href="@{/register}">S’inscrire</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
